rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    function isGlaucoMember() {
      return request.auth != null
        && request.auth.uid in [
          'FIRST_GLAUCO_USER_UID',
          'SECOND_GLAUCO_USER_UID'
        ];
    }
    match /glauco/shared/{document=**} {
      allow read, write: if isGlaucoMember();
    }
  }
}
